body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('BlackJack_sintotal.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.botones-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  z-index: 5;
}

.boton {
  width: 180px;
  max-width: 200px;
  min-width: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.boton:hover {
    transform: scale(1.1);
}




.mesa {
  width: 100%;
  position: relative;
}

.cartas-banca,
.cartas-jugador {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 100px;
  margin-left: -10px;
}

.cartas-banca {
  margin-bottom: 60px;
  margin-top: 200px;
  margin-left: -15px;
}

.carta {
  width: 70px;
  height: 100px;
  background-color: black;
  border-radius: 8px;
  border: 2px solid #444;
}


.carta-extra {
  width: 70px;   
  height: 100px;
  background-color: black;
  border-radius: 8px;
  border: 2px solid #444;
  margin-top: 20px; 

  margin: 90px auto 0 auto;
  margin-left: auto;
  transform: translateX(-8px);
  display: block;
}

